@charset "utf-8";

/* 
Base Style
*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:15px;
  line-height: 1.5;
  color: #333;
}

/* Section */
.section{
    padding: 30px 15px;
}
.section-headline{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin:0 0 40px 0;
}

/* About */
.about{
    margin:0;
    display: flex;
}
.about-image{}
.about-caption{}
.about-headline{}
.about-description{}